.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 90;
}

@media (min-width: 768px) {
    .backdrop {
        display: none;
    }
}
