@import '../../variables.scss';

.calendar {
    &__container {
        width: 100%;

        table {
            width: 100%;
            height: 50vh;
            font-size: 1rem;

            th {
                color: $navy-blue-30;
            }

            td {
                border-radius: 2rem;
            }

            span {
                margin: 0 auto;
                padding: 0.6rem;
                width: 0.6rem;
                height: 0.6rem;
                border-radius: 5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 0.08s linear;
                cursor: pointer;
                border: 10px solid transparent;
            }

            .today {
                font-weight: bold;
                color: $main-color;
            }

            .checked {
                background: $green-medium;
                color: $green;
            }
        }
    }
}

@media (min-width: 440px) {
    .calendar {
        &__container {
            table {
                th {
                    font-size: 1.3rem;
                }

                td {
                    font-size: 1.3rem;
                }

                span {
                    padding: 1.2rem;
                }
            }
        }
    }
}

@media (min-width: 900px) {
    .calendar {
        &__container {
            table {
                th {
                    font-size: 1.3rem;
                }

                td {
                    font-size: 1.7rem;

                    &:hover {
                        box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
                    }
                }

                span {
                    padding: 1.2rem;
                    width: 1.2rem;
                    height: 1.2rem;
                }

                .checked {
                    border-color: $green-light;
                }
            }
        }
    }
}
@media (min-width: 1600px) {
    .calendar {
        &__container {
            table {
                span {
                    padding: 2rem;
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
    }
}
