@import '../../../variables.scss';

.menu-btn {
    width: 1.9rem;
    height: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;

    span {
        display: block;
        width: 1.9rem;
        height: 4px;
        background: $navy-blue-40;
        border-radius: 2px;

        &:not(:last-child) {
            margin-bottom: 3px;
        }
    }
}

@media (min-width: 1000px) {
    .menu-btn {
        display: none;
    }
}
