.habit {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 3px 3px 3px rgba(170, 123, 123, 0.07);

    &:not(:last-child) {
        margin-bottom: 1.5rem;
    }

    button,
    a {
        outline: none;
        color: rgb(179, 179, 179);

        i {
            font-size: 1.5rem;
        }
    }

    .is-checked {
        color: #2ecc71;
    }

    &__counter {
        margin-left: 0.5rem;
        font-size: 1.5rem;
    }

    &__details {
        margin-left: auto;
    }

    &__nav {
        margin-left: 5rem;
        display: none;
    }
}

@media (min-width: 768px) {
    .habit {
        &__nav {
            display: block;
        }
    }
}
