$text-color: #333;
$main-color: #f1c40f;

$background: #ebedef;
$box-background: #fff;

$line-height: 1.5;
$sidebar-width: 300px;

$red-light: #fadbd8;
$red: #e74c3c;
$blue-light: #d6eaf8;
$blue: #3498db;
$green-light: #d4efdf;
$green-medium: #7dcea0;
$green: #229954;

$navy-blue-10: #ebedef;
$navy-blue-20: #d6dbdf;
$navy-blue-30: #aeb6bf;
$navy-blue-40: #85929e;
$navy-blue-50: #5d6d7e;
$navy-blue-60: #34495e;
$navy-blue-70: #2e4053;
$navy-blue-80: #283747;
$navy-blue-90: #212f3c;
$navy-blue-100: #1b2631;
